---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Henrique Noal — Consultoria de Treinamento Fisíco',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="Consultoria Personalizada"
    actions={[
      { variant: 'primary', text: 'Começar agora', href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20' },
      { text: 'Saiba mais', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Transforme o Exercício em Hábito com Ciência
    </Fragment>

    <Fragment slot="subtitle">
      Treinos personalizados, baseados na ciência, para transformar o exercício em hábito. Sem fórmulas prontas, apenas resultados reais.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="WWpZUrqR52c" title="Consultoria Online Personalizada" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Minha abordagem"
    title="O que eu faço diferente?"
    subtitle="Eu não entrego apenas um treino, te ensino você a entender o processo, ajustar sua rotina e manter a consistência sem sofrimento."
    items={[
      {
        title: 'Personalização Total',
        description:
          'Seu treino, sua rotina, seu ritmo.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Resultados Reais',
        description:
          'Sem fórmulas prontas, apenas o que funciona para você.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Suporte Contínuo',
        description:
          'Ajustes e acompanhamento direto comigo.',
        icon: 'tabler:rocket',
      }
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    tagline="Conheça seu treinador"
    id="about"
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
    callToAction={{
      text: 'Começar agora',
      href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20',
    }}
  >
    <Fragment slot="title">Quem sou eu?</Fragment>
    <Fragment slot="content">
      Sou Henrique Noal, personal trainer formado pela UFSM, com mais de 10 anos de experiência ajudando pessoas a ganharem força, condicionamento e, principalmente, a criarem <strong>consistência</strong> no treino. <br> Também sou criador do SalusCast, um podcast que conecta ciência e saúde, e ofereço consultoria online para quem busca eficiência nos treinos.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->
  <Steps
    title="O processo"
    items={[
      {
        title: 'Passo 1: <span class="font-medium">Diagnóstico Inicial</span>',
        description:
          "Realizamos uma avaliação completa para entender seu ponto de partida e definir metas realistas.",
        icon: 'tabler:package',
      },
      {
        title: 'Passo 2: <span class="font-medium">Planejamento Estratégico</span>',
        description:
          "Desenvolvo seu plano personalizado de treinos e nutrição com base nos seus objetivos e disponibilidade.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Passo 3: <span class="font-medium">Implementação e Acompanhamento</span>',
        description:
          "Iniciamos os treinos com orientação precisa e monitoramento constante de sua evolução.",
        icon: 'tabler:paint',
      },
      {
        title: 'Passo 4: <span class="font-medium">Avaliação e Ajustes</span>',
        description:
          "A cada 30 dias, realizamos novas medições e ajustamos o programa para maximizar seus resultados.",
        icon: 'tabler:paint',
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Etapas da Consultoria"
    subtitle="Diferente dos treinos prontos que não levam a lugar nenhum, meu processo garante um planejamento eficiente, adaptado à sua realidade e que se encaixa na sua rotina."
    tagline="O processo"
    items={[
      {
        title: 'Análise inicial',
        description: "Entendo sua rotina, desafios e objetivos",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Plano personalizado',
        description:
          "Treinos adaptados ao seu nível e tempo disponível",
          icon: 'flat-color-icons:approval',
      },
      {
        title: 'Acompanhamento Contínuo',
        description:
          'Ajustes conforme sua evolução',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Suporte Direto Comigo',
        description:
          'Dúvidas e orientações sempre que precisar',
        icon: 'flat-color-icons:approval',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Testimonials
    title="O que dizem"
    subtitle="Descubra o que meus clientes dizem sobre trabalhar comigo"
    testimonials={[
      {
        testimonial: `Sanou as dúvidas e foi muito além! Muito obrigado, sempre trazendo ótimas explicações`,
        name: 'Mark Thompson',
        job: 'Creative director'
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO'
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO'
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services'
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager'
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator'
      },
    ]}
    callToAction={{
      text: 'Começar agora',
      href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20',
    }}
  />

    <!-- Pricing Widget ******************* -->
  <Pricing
    title="Investimento"
    subtitle='Para garantir resultados reais, ofereço apenas planos trimestrais e semestrais.'
    id="pricing"
    prices={[
      {
        title: 'Plano trimestral',
        subtitle: 'Access to core features and a wide range of templates',
        price: '240,00',
        period: 'total R$ 720,00',
        callToAction: {
          target: '_blank',
          text: 'Garantir minha vaga trimestral',
          href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20no%20plano%20trimestral%20',
        },
      },
      {
        title: 'Plano Semestral',
        subtitle: 'Premium templates and advanced customization',
        price: '220',
        period: '6 meses, por R$ 720,00',
        callToAction: {
          target: '_blank',
          text: 'Garantir minha vaga semestral',
          href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20no%20plano%20semestral%20',
        },
        hasRibbon: false,
        ribbonTitle: 'popular',
      }
    ]}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Perguntas Frequentes"
    subtitle="Pare de perder tempo com treinos que não funcionam"
    tagline="FAQs"
    id="faq"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Nunca treinei antes. A consultoria é para mim?',
        description: "Sim! Meu trabalho é pensado justamente para quem está começando ou já tentou várias vezes sem sucesso.",
      },
      {
        title: 'Preciso de academia ou posso treinar em casa?',
        description:
          ' Os treinos são personalizados para o teu contexto. Se preferires treinar em casa, na academia do prédio ou com materiais que tem em casa, vamos ajustar conforme a estrutura disponível.',
      },
      {
        title: 'Posso treinar na academia do prédio e na academia do bairro?',
        description:
          " Sim, precisamos entender qual vai ser a frequência semanal dos treinos e quantas sessões você vai fazer em cada local, a partir disso, preciso conhecer a estrutura de ambos os locais e organizar um treino para que você possa organizar a sua rotina.",
      },
      {
        title: "Como é o suporte?",
        description:
          "O acompanhamento é feito de forma online, com ajustes frequentes e contato direto comigo para tirar dúvidas e orientar o processo.",
      }
    ]}
  />

  <div class="flex flex-row flex-nowrap gap-4 py-6 m-auto max-w-xs sm:flex-row sm:justify-center sm:max-w-md lg:justify-center">
    <div class="flex w-full sm:w-auto">
      <a class="btn-primary sm:mb-0 w-full" href="https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20" rel="noopener noreferrer">
        Começar agora
      </a>
    </div>
  </div>
</Layout>
