---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Henrique Noal | Consultoria de Treinamento Fisíco',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="Consultoria Personalizada"
    actions={[
      { variant: 'primary', text: 'Começar agora', href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20' },
      { text: 'Saiba mais', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Crie o hábito de se exercitar com base na ciência
    </Fragment>

    <Fragment slot="subtitle">
      Treinos personalizados e científicos para criar o hábito do exercício. Sem fórmulas prontas, só resultados reais.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="WWpZUrqR52c" title="Consultoria Online Personalizada" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Minha abordagem"
    title="O que eu faço diferente?"
    subtitle="Eu não entrego apenas um treino, te ensino você a entender o processo, ajustar sua rotina e manter a consistência sem sofrimento."
    items={[
      {
        title: 'Personalização Total',
        description:
          'Seu treino, sua rotina, seu ritmo.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Resultados Reais',
        description:
          'Sem fórmulas prontas, apenas o que funciona para você.',
        icon: 'tabler:components',
      },
      {
        title: 'Suporte Contínuo',
        description: 'Ajustes e acompanhamento direto comigo.',
        icon: 'tabler:brand-whatsapp',
      }
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    tagline="Conheça seu treinador"
    id="about"
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
    callToAction={{
      text: 'Começar agora',
      class: 'btn-primary mt-5',
      target: '_blank',
      href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20',
    }}
  >
    <Fragment slot="title">Quem sou eu?</Fragment>
    <Fragment slot="content">
      <p class="text-white mb-3">Sou Henrique Noal, personal trainer formado pela UFSM, com mais de 10 anos de experiência ajudando pessoas a ganharem força, condicionamento e, principalmente, a criarem <strong>consistência</strong> no treino.</p> 
      <p class="text-white mb-3">Também sou criador do SalusCast, um podcast que conecta ciência e saúde, e ofereço consultoria online para quem busca eficiência nos treinos.</p>
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->
  <Features2
    title="Etapas da Consultoria"
    subtitle="Diferente dos treinos prontos que não levam a lugar nenhum, meu processo garante um planejamento eficiente, adaptado à sua realidade e que se encaixa na sua rotina."
    tagline="O processo"
    items={[
      {
        title: 'Análise inicial',
        description: "Entendo sua rotina, desafios e objetivos",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Plano personalizado',
        description:
          "Treinos adaptados ao seu nível e tempo disponível",
          icon: 'flat-color-icons:approval',
      },
      {
        title: 'Acompanhamento Contínuo',
        description:
          'Ajustes conforme sua evolução',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Suporte Direto Comigo',
        description:
          'Dúvidas e orientações sempre que precisar',
        icon: 'flat-color-icons:approval',
      }
    ]}
  >
    <div class="flex flex-row flex-nowrap gap-4 py-6 m-auto max-w-xs sm:flex-row sm:justify-center sm:max-w-md lg:justify-center">
      <div class="flex w-full sm:w-auto">
        <a class="btn-primary sm:mb-0 w-full" href="https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20" rel="noopener noreferrer">
          Quero começar agora
        </a>
      </div>
    </div>
  </Features2>

  <Testimonials
    tagline="O que dizem"
    title="Depoimentos"
    subtitle="Descubra o que meus clientes dizem sobre trabalhar comigo"
    testimonials={[
      {
        testimonial: `Sanou as dúvidas e foi muito além! Muito obrigado, sempre trazendo ótimas explicações`,
        name: '',
        job: ''
      },
      {
        testimonial: `Estou tentando descontruir algumas coisas que ouvi por muito tempo, para poder treinar com mais consistência! E tu tem me ajudado muito nisso com seus ensinamentos!`,
        name: '',
        job: ''
      },
      {
        testimonial: `Realmente, eu vejo que hoje em dia é  tudo 8 ou 80, e essa mentalidade também foi o que me quebrou em relação a academia! Obrigado pelos seus ensinamentos.`,
        name: '',
        job: ''
      },
      {
        testimonial: `Treinos top e deu certo nesse novo formato. Muito feliz que os treinos mais a dieta estão dando resultados e mais saúde, principalmente!`,
        name: '',
        job: ''
      }
    ]}
    callToAction={{
      text: 'Quero treinar agora',
      href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20na%20consultoria%20',
    }}
  />

  <!-- Pricing Widget ******************* -->
  <Pricing
    title="Investimento"
    subtitle='Para garantir resultados reais, ofereço apenas planos trimestrais e semestrais.'
    id="pricing"
    prices={[
      {
        title: 'Plano trimestral',
        subtitle: 'Access to core features and a wide range of templates',
        price: '240,00',
        period: 'Total de R$ 720,00',
        callToAction: {
          target: '_blank',
          class: 'btn-primary',
          text: 'Garantir minha vaga trimestral',
          href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20no%20plano%20trimestral%20',
        },
      },
      {
        title: 'Plano Semestral',
        subtitle: 'Premium templates and advanced customization',
        price: '220,00',
        period: 'Total de R$ 1.320,00',
        callToAction: {
          target: '_blank',
          class: 'btn-primary',
          text: 'Garantir minha vaga semestral',
          href: 'https://wa.me/555599609147?text=Ol%C3%A1, Henrique%20tenho%20interesse%20no%20plano%20semestral%20',
        },
      }
    ]}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
    tagline="Perguntas Frequentes"
    title="Chega de perder tempo com treinos ineficazes"
    id="faq"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Nunca treinei antes. A consultoria é para mim?',
        description: "Sim! Meu trabalho é pensado justamente para quem está começando ou já tentou várias vezes sem sucesso.",
      },
      {
        title: 'Preciso de academia ou posso treinar em casa?',
        description:
          ' Os treinos são personalizados para o teu contexto. Se preferires treinar em casa, na academia do prédio ou com materiais que tem em casa, vamos ajustar conforme a estrutura disponível.',
      },
      {
        title: 'Posso treinar na academia do prédio e na academia do bairro?',
        description:
          " Sim, precisamos entender qual vai ser a frequência semanal dos treinos e quantas sessões você vai fazer em cada local, a partir disso, preciso conhecer a estrutura de ambos os locais e organizar um treino para que você possa organizar a sua rotina.",
      },
      {
        title: "Como é o suporte?",
        description:
          "O acompanhamento é feito de forma online, com ajustes frequentes e contato direto comigo para tirar dúvidas e orientar o processo.",
      }
    ]}
  />
</Layout>
